/* Resets */
.mainNav ul {
    padding: 0;
    margin: 0;
  }
  
  .mainNav a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Navigation styles */
  
  .mainNav {
    position: fixed;
    width: 100%;
    top: 0;
    border-top: 5px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
  }
  
  .mainNav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  
  .mainNav__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #c6c6c6;
    height: 100%;
    min-width: 60px;
  }
  
  .mainNav__brandSubdomains {
    display: none;
  }
  
  .mainNav__brand:hover {
    min-width: 200px;
  }
  
  .mainNav__brand:hover .mainNav__brandSubdomains {
    display: inline;
  }
  
  .mainNav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    flex-grow: 9;
    height: 100%;
  }
  
  .mainNav__menuItem {
    display: inline-block;
    padding: 0 1em;
  }
  
  .mainNav__social {
    height: 100%;
  }
  
  .mainNav__socialIcon {
    display: inline-block;
    width: 60px;
    border-left: 1px solid #c6c6c6;
    line-height: 60px;
    text-align: center;
  }
  
  /* Navigation Search Bar */
  #close {
    display: none;
  }
  
  .mainNav__menu_overlay {
    background: #e6e6e6;
  }
  
  .mainNav__menu_overlay .mainNav__menuItems {
    display: none;
  }
  
  .mainNav__menu_overlay #close {
    display: inline;
  }
/* Start Global Rules */
* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Open Sans', sans-serif;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
  
  /* Start Landing Page */
  .landing-page header {
    min-height: 80px;
    display: flex;
  }
  @media (max-width: 767px) {
    .landing-page header {
      min-height: auto;
      display: initial;
    }
  }
  .landing-page header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
    .landing-page header .container {
      flex-direction: column;
      justify-content: center;
    }
  }
  .landing-page header .logo {
    color: #5d5d5d;
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
  }
  @media (max-width: 767px) {
    .landing-page header .logo {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .landing-page header .links {
    display: flex;
    align-items: center;
  }
  @media (max-width: 767px) {
    .landing-page header .links {
      text-align: center;
      gap: 10px;
    }
  }
  .landing-page header .links li {
    margin-left: 30px;
    color: #5d5d5d;
    cursor: pointer;
    transition: .3s;
  }
  @media (max-width: 767px) {
    .landing-page header .links li {
      margin-left: auto;
    }
  }
  
  .landing-page header .links li:not(:last-child):hover {
    color: #6c63ff;
  }
  .landing-page .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh - 80px);
  }
  @media (max-width: 767px) {
    .landing-page .content .container {
      gap: 0;
      min-height: calc(100vh - 101px);
      justify-content: center;
      flex-direction: column-reverse;
    }
  }
  @media (max-width: 767px) {
    .landing-page .content .info {
      text-align: center;
      margin-bottom: 15px 
    }
  }
  .landing-page .content .info h1 {
    color: #5d5d5d;
    font-size: 44px;
  }
  .landing-page .content .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #5d5d5d;
  }
  .landing-page .content .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #6c63ff;
  }
  .landing-page .content .image img {
    max-width: 100%;
  }
  /* End Landing Page */
  .mainNav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #ffffff; /* Color de fondo sólido */
    border-top: 5px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
  }
      